
.DS_Store
*.iml
source_code/.idea/inspectionProfiles/profiles_settings.xml
source_code/.idea/misc.xml
source_code/.idea/modules.xml
source_code/.idea/vcs.xml
reproduction_videos/Corona-Warn/.DS_Store
reproduction_videos/Corona-Warn/.DS_Store
reproduction_videos/Corona-Warn/.DS_Store
reproduction_videos/Corona-Warn/.DS_Store
